<.header>
  New Marker
  <:subtitle>Use this form to manage marker records in your database.</:subtitle>
</.header>

<.marker_form changeset={@changeset} action={~p"/markers"} />

<.back navigate={~p"/markers"}>Back to markers</.back>
